body{
	background: powderblue;
}

ul{

}

li{

}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	/*filter: grayscale(100%);*/
	/*filter: sepia(100%)*/
	filter: drop-shadow(8px 8px 10px green);
	border-radius: 50%;
}